td.video-containers {
	position: relative;
	padding-bottom: 10%;
	padding-top: 10px;
	height: 0;
	overflow: hidden;
}

td.video-containers iframe,  
td.video-containers object,  
td.video-containers embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
